<footer>
    <div class="c_footer_nav">
        <a href="http://www.qfedu.com/about/" rel="nofollow" target="_blank">关于千锋</a> | <a
            href="http://www.qfedu.com/contact/" rel="nofollow" target="_blank">联系我们</a> | <a
            href="http://www.qfedu.com/cooperation/" rel="nofollow" target="_blank">企业合作</a> | <a
            href="http://www.qfedu.com/about/job.html" rel="nofollow" target="_blank">招贤纳士</a> | <a
            onclick="window.open('http://tb.53kf.com/code/client/10132404/3','_blank')" style="cursor:pointer;"
            target="_blank" rel="nofollow">报名咨询</a> | <a href="http://bbs.mobiletrain.org/forum.php" rel="nofollow"
                                                         target="_blank">技术论坛</a>
    </div>
</footer>